.nav-link{
    font-weight: bolder;
}

h4{
    margin-left:42%;
    margin-top:30px;
}
h3{
    margin-left:40%;
    margin-top:30px;
    margin-bottom: 30px;
}

.card-text{
    text-align: justify;
}

.cardimage{
    height:200px;
}

.inimage{
    margin-left: 26%;
   
}

.triv{
    margin:50px;
    text-align: justify;
}

.card{
    float:right;
    margin:10px;
    margin-right:110px;
}

.search{
    border:1px solid black;
}